body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0;
    min-height: 100vh;
    background: 
      linear-gradient(rgba(255,255,255,0.6), rgba(28, 159, 63,0.8)),
      url("https://online.jhcsc.edu.ph/img/red.jpg") center/cover no-repeat fixed;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(6px);
    z-index: 1000;
    padding: 10px 20px;
}

.navbar .container {
    max-width: 1200px;
    margin: 0 13px;
}

.navbar nav {
    font-size: 15px;
    display: flex;
}

.navbar .nav {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.navbar .nav li {
    display: inline-block;
}

.navbar .nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;  
    border-radius: 6px;
    transition: background 0.3s ease-in-out;
}

.navbar .nav a:hover {
    background: rgba(255, 255, 255, 0.2);
}


p {
    font-weight: bold;
}

.login img {
    width: 100px;
}

.login {
    max-width: 370px;
    width: 100%;
    text-align: center;
    padding: 25px 40px 50px;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #00000050;
    backdrop-filter: blur(10px);
}

.logo {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
}

.login input {
    padding: 12px;
    width: 100%;
    border: none;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #00000030;
    font-size: 16px;
}

#Login {
    width: 200px;
    font-weight: bold;
    padding: 12px;
    border: none;
    height: 45px;
    color: white;
    background-color: rgb(28, 159, 63);
    border-radius: 5px;
    cursor: pointer;        
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 0px 5px #00000040;
}

#Login:hover {
    background-color: rgb(21, 120, 47);
    box-shadow: 0px 0px 10px #00000060;
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: rgba(255,255,255,0.8);
    text-align: center;
    padding: 10px;
    font-size: 14px;
}

footer a:visited{
    color:rgb(82, 82, 82)
}
footer a{
    color:rgb(82, 82, 82)
}